AIMElevator.api/obj/AIMElevator.api.csproj.nuget.dgspec.json
AIMElevator.api/obj/AIMElevator.api.csproj.nuget.g.props
AIMElevator.api/obj/AIMElevator.api.csproj.nuget.g.targets
AIMElevator.api/obj/project.assets.json
AIMElevator.api/obj/project.nuget.cache
AIMElevator.api/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
AIMElevator.api/obj/Debug/net9.0/AIMEleva.F079AE14.Up2Date
AIMElevator.api/obj/Debug/net9.0/AIMElevator.api.AssemblyInfo.cs
AIMElevator.api/obj/Debug/net9.0/AIMElevator.api.AssemblyInfoInputs.cache
AIMElevator.api/obj/Debug/net9.0/AIMElevator.api.assets.cache
AIMElevator.api/obj/Debug/net9.0/AIMElevator.api.csproj.AssemblyReference.cache
AIMElevator.api/obj/Debug/net9.0/AIMElevator.api.csproj.CoreCompileInputs.cache
AIMElevator.api/obj/Debug/net9.0/AIMElevator.api.csproj.FileListAbsolute.txt
AIMElevator.api/obj/Debug/net9.0/AIMElevator.api.dll
AIMElevator.api/obj/Debug/net9.0/AIMElevator.api.GeneratedMSBuildEditorConfig.editorconfig
AIMElevator.api/obj/Debug/net9.0/AIMElevator.api.genruntimeconfig.cache
AIMElevator.api/obj/Debug/net9.0/AIMElevator.api.GlobalUsings.g.cs
AIMElevator.api/obj/Debug/net9.0/AIMElevator.api.MvcApplicationPartsAssemblyInfo.cache
AIMElevator.api/obj/Debug/net9.0/AIMElevator.api.MvcApplicationPartsAssemblyInfo.cs
AIMElevator.api/obj/Debug/net9.0/AIMElevator.api.pdb
AIMElevator.api/obj/Debug/net9.0/apphost.exe
AIMElevator.api/obj/Debug/net9.0/rbcswa.dswa.cache.json
AIMElevator.api/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
AIMElevator.api/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
AIMElevator.api/obj/Debug/net9.0/rpswa.dswa.cache.json
AIMElevator.api/obj/Debug/net9.0/staticwebassets.build.endpoints.json
AIMElevator.api/obj/Debug/net9.0/staticwebassets.build.json
AIMElevator.api/obj/Debug/net9.0/staticwebassets.build.json.cache
AIMElevator.api/obj/Debug/net9.0/staticwebassets.development.json
AIMElevator.api/obj/Debug/net9.0/compressed/cy2v7a8olo-kncbm1ms2f.gz
AIMElevator.api/obj/Debug/net9.0/compressed/hs0bbge629-p1lkpt3oh5.gz
AIMElevator.api/obj/Debug/net9.0/compressed/wso5xgixtz-gpbewyad9s.gz
AIMElevator.api/obj/Debug/net9.0/ref/AIMElevator.api.dll
AIMElevator.api/obj/Debug/net9.0/refint/AIMElevator.api.dll
